.eventPane {
  display: flex;
  height: 100%;
  min-height: 0;
}

.json {
  display: flex;
  border: seagreen 10px;
}

.jsonviewer {
  overflow-x: hidden;
  max-height: 90%;
  overflow-y: auto;
}

mat-cell,
.mat-cell {
  /* display:block;  */
  min-height: auto;
  padding: 12px 16px 12px 0;
}

mat-tab-group {
  overflow-x: hidden;
  overflow-y: scroll;
}

.summaryTab {
  display: flex;
  flex-direction: row;
}
