<div class="dashboardComponent subscriptionList">
	<div class="header">Subscriptions</div>
	<mat-accordion>
		<mat-expansion-panel *ngFor="let org of orgs()">
			<mat-expansion-panel-header>
				<mat-panel-title>{{org}}</mat-panel-title>
			</mat-expansion-panel-header>
			<div class="orgSubscriptions">
				<mat-checkbox *ngFor="let subscription of subscriptions.get(org)" [(ngModel)]="subscription.checked"
					(change)="checkChanged()">{{subscription.name}}</mat-checkbox>
			</div>
		</mat-expansion-panel>
	</mat-accordion>
	<div class="buttons">
		<button (click)="showSubscribeDialog()">Subscribe</button>
		<button (click)="removeSelected()" [disabled]="!anySelected">
      Remove Selected
    </button>
	</div>
</div>