<div class="wrapper">
	<p class="title">
		ETS Dashboard
	</p>
	<div class="dashboard">
		<div class="dashboardLeftColumn">
			<connectionList [connections]="connections"></connectionList>
			<subscriptionList [connections]="connections" [subscriptions]="subscriptions"></subscriptionList>
		</div>
		<div class="dashboardRightColumn">
			<eventList class="rightTop" (selectionChange)="updateSelectedEvent($event)" [events]="events"></eventList>
			<eventPane class="rightBottom" [event]="selectedEvent" [summary]="selectedSummary"></eventPane>
		</div>
	</div>
</div>