p {
  font-family: Lato;
}
.dashboard {
  display: flex;
  border: solid;
}
.dashboardLeftColumn {
  flex-direction: column;
  border: darkgreen;
}

.dashboardRightColumn {
  flex-direction: column;
  border: lightcoral;
}
