.wrapper,
html,
body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  min-height: 100vh;
  border: solid 1px purple;
}
p.title {
  font-family: Lato;
  margin-left: 10px;
}
.dashboard {
  display: flex;
  height: 100%;
}
.dashboardLeftColumn {
  display: flex;
  flex-direction: column;
  border: darkgreen;
  flex: 2;
  align-items: stretch;
}

.dashboardRightColumn {
  flex-direction: column;
  border: lightcoral;
  flex: 5;
  display: flex;
}

.rightTop {
  flex: 1;
}

.rightBottom {
  flex: 1;
}
