<h1 mat-dialog-title>Respond to event</h1>
<div mat-dialog-content class="x">
	<mat-form-field appearance="fill">
		<mat-label>Approved?</mat-label>
		<mat-checkbox [(ngModel)]="approved">Approved?</mat-checkbox>
	</mat-form-field>
	<mat-form-field appearance="fill">
		<mat-label>Comment</mat-label>
		<input matInput [(ngModel)]="comment">
	</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>Approver</mat-label>
			<input matInput [(ngModel)]="approver">
      <mat-error *ngIf="!approver">Secret is required</mat-error>
		</mat-form-field>
</div>
<div mat-dialog-actions>
	<button mat-button (click)="onNoClick()">Cancel</button>
	<button mat-button (click)="onRespond()">Respond</button>
</div>