<h1 mat-dialog-title>Respond to event</h1>
<div mat-dialog-content class="x">
	<mat-form-field appearance="fill">
		<mat-label>Approved?</mat-label>
		<mat-checkbox [ngModel]="approved"></mat-checkbox>
	</mat-form-field>
	<!-- <mat-form-field appearance="fill">
		<mat-label>Comment</mat-label>
		<input matInput [(ngModel)]="comment">
	</mat-form-field> -->
		<!-- <mat-form-field appearance="fill">
			<mat-label>Approver</mat-label>
			<input matInput [(ngModel)]="approver"></input>
		</mat-form-field> -->
</div>