<h1 mat-dialog-title>Respond to event</h1>
<div mat-dialog-content class="x">
  <mat-checkbox [(ngModel)]="approved">Approved?</mat-checkbox>
	<mat-form-field appearance="fill">
		<mat-label>Comment</mat-label>
		<input matInput [(ngModel)]="comment" name="comment"/>
	</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>Approver</mat-label>
			<input matInput [(ngModel)]="approver" name="approver"/>
		</mat-form-field>
</div>
<div mat-dialog-actions>
	<button mat-button (click)="onNoClick()">Cancel</button>
	<button mat-button (click)="onRespond()">Respond</button>
</div>